<div class="sliderSection">
        <div class="container">
            <div class="row topSlider cycle-slideshow"
                 data-cycle-fx="carousel"
                 data-cycle-pause-on-hover="true"
                 data-cycle-speed="200"
                 data-cycle-slides="> .span3"
                 data-cycle-carousel-visible= "4"
                 data-cycle-pager=".slidePager"
                    >
                <div class="span3">
                    <div class="imgWrap"><%= image_tag "sample.jpg" %></div>
                    <h4 class="eventName text-center">
                        Lorem Ipsum
                    </h4>
                </div>
                <div class="span3">
                    <div class="imgWrap">
                        <%= image_tag "sample.jpg" %>
                    </div>
                    <h4 class="eventName text-center">
                        Lorem Ipsum
                    </h4>
                </div>
                <div class="span3">
                    <div class="imgWrap"><%= image_tag "sample.jpg" %></div>
                    <h4 class="eventName text-center">
                        Lorem Ipsum
                    </h4>
                </div>
                <div class="span3">
                    <div class="imgWrap"><%= image_tag "sample.jpg" %></div>
                    <h4 class="eventName text-center">
                        Lorem Ipsum
                    </h4>
                </div>
                <div class="span3">
                    <div class="imgWrap"><%= image_tag "sample.jpg" %></div>
                    <h4 class="eventName text-center">
                        Lorem Ipsum
                    </h4>
                </div>
                <div class="span3">
                    <div class="imgWrap"><%= image_tag "sample.jpg" %></div>
                    <h4 class="eventName text-center">
                        Lorem Ipsum
                    </h4>
                </div>
            </div>
            <div class="slidePager text-center"></div>
        </div>
    </div>
    <div class="sectionDivider text-center">
        <h2>Marathon Calender</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="innerWrap">
                    <div class="boxHead">
                        <div class="clearfix">
                            <h4>Kundalika River Marathon @ Kundalika River</h4>
                            <!--<div class="dateBox"><span>28th</span> Mar 15</div>-->
                        </div>
                        <div class="dateTimeInfo clearfix text-center">
                            Mar 28 @ 4.30pm - 7.30pm
                        </div>
                    </div>
                    <div class="bannerImg">
                        <%= image_tag "sample.jpg" %>

                        <div class="btnWrap text-center">
                            <a href="#" class="btn btn-primary">Register</a>
                        </div>
                    </div>
                    <div class="eventInfo">
                        <div class="clearfix">
                            <label class="infoLabel pull-left">Timing Clip Option</label>
                            <span class="infoText pull-right">Rs 300/-</span>
                        </div>
                        <div class="clearfix">
                            <label class="infoLabel pull-left">Half Marathon (21km)</label>
                            <span class="infoText pull-right">Rs 950/-</span>
                        </div>
                        <div class="row">
                            <div class="span2">
                                <span class="infoLabel">10km :</span>
                                <span class="infoText"> Rs 950/-</span>
                            </div>
                            <div class="span2 text-right">
                                <span class="infoLabel">5km :</span>
                                <span class="infoText">Rs 750/-</span>
                            </div>
                        </div>
                    </div>
                    <div class="boxFooter">
                        <span class="label label-info">10K</span>
                        <span class="label label-info">5K</span>
                        <span class="label label-info">Half Marathon</span>

                        <div class="clearfix tagsOuter">Tags: <a href="#">Kolad</a> <a href="#">Tag2</a> <a href="#">Tag3</a></div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="innerWrap">
                    <div class="boxHead">
                        <div class="clearfix">
                            <h4>Kundalika River Marathon @ Kundalika River</h4>
                            <!--<div class="dateBox"><span>28th</span> Mar 15</div>-->
                        </div>
                        <div class="dateTimeInfo clearfix text-center">
                            Mar 28 @ 4.30pm - 7.30pm
                        </div>
                    </div>
                    <div class="bannerImg">
                        <%= image_tag "sample.jpg" %>

                        <div class="btnWrap text-center">
                            <a href="#" class="btn btn-primary">Register</a>
                        </div>
                    </div>
                    <div class="eventInfo">
                        <div class="clearfix">
                            <label class="infoLabel pull-left">Timing Clip Option</label>
                            <span class="infoText pull-right">Rs 300/-</span>
                        </div>
                        <div class="clearfix">
                            <label class="infoLabel pull-left">Half Marathon (21km)</label>
                            <span class="infoText pull-right">Rs 950/-</span>
                        </div>
                        <div class="row">
                            <div class="span2">
                                <span class="infoLabel">10km :</span>
                                <span class="infoText"> Rs 950/-</span>
                            </div>
                            <div class="span2 text-right">
                                <span class="infoLabel">5km :</span>
                                <span class="infoText">Rs 750/-</span>
                            </div>
                        </div>
                    </div>
                    <div class="boxFooter">
                        <span class="label label-info">10K</span>
                        <span class="label label-info">5K</span>
                        <span class="label label-info">Half Marathon</span>

                        <div class="clearfix tagsOuter">Tags: <a href="#">Kolad</a> <a href="#">Tag2</a> <a href="#">Tag3</a></div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="innerWrap">
                    <div class="boxHead">
                        <div class="clearfix">
                            <h4>Kundalika River Marathon @ Kundalika River</h4>
                            <!--<div class="dateBox"><span>28th</span> Mar 15</div>-->
                        </div>
                        <div class="dateTimeInfo clearfix text-center">
                            Mar 28 @ 4.30pm - 7.30pm
                        </div>
                    </div>
                    <div class="bannerImg">
                        <%= image_tag "sample.jpg" %>

                        <div class="btnWrap text-center">
                            <a href="#" class="btn btn-primary">Register</a>
                        </div>
                    </div>
                    <div class="eventInfo">
                        <div class="clearfix">
                            <label class="infoLabel pull-left">Timing Clip Option</label>
                            <span class="infoText pull-right">Rs 300/-</span>
                        </div>
                        <div class="clearfix">
                            <label class="infoLabel pull-left">Half Marathon (21km)</label>
                            <span class="infoText pull-right">Rs 950/-</span>
                        </div>
                        <div class="row">
                            <div class="span2">
                                <span class="infoLabel">10km :</span>
                                <span class="infoText"> Rs 950/-</span>
                            </div>
                            <div class="span2 text-right">
                                <span class="infoLabel">5km :</span>
                                <span class="infoText">Rs 750/-</span>
                            </div>
                        </div>
                    </div>
                    <div class="boxFooter">
                        <span class="label label-info">10K</span>
                        <span class="label label-info">5K</span>
                        <span class="label label-info">Half Marathon</span>

                        <div class="clearfix tagsOuter">Tags: <a href="#">Kolad</a> <a href="#">Tag2</a> <a href="#">Tag3</a></div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="innerWrap">
                    <div class="boxHead">
                        <div class="clearfix">
                            <h4>Kundalika River Marathon @ Kundalika River</h4>
                            <!--<div class="dateBox"><span>28th</span> Mar 15</div>-->
                        </div>
                        <div class="dateTimeInfo clearfix text-center">
                            Mar 28 @ 4.30pm - 7.30pm
                        </div>
                    </div>
                    <div class="bannerImg">
                        <%= image_tag "sample.jpg" %>

                        <div class="btnWrap text-center">
                            <a href="#" class="btn btn-primary">Register</a>
                        </div>
                    </div>
                    <div class="eventInfo">
                        <div class="clearfix">
                            <label class="infoLabel pull-left">Timing Clip Option</label>
                            <span class="infoText pull-right">Rs 300/-</span>
                        </div>
                        <div class="clearfix">
                            <label class="infoLabel pull-left">Half Marathon (21km)</label>
                            <span class="infoText pull-right">Rs 950/-</span>
                        </div>
                        <div class="row">
                            <div class="span2">
                                <span class="infoLabel">10km :</span>
                                <span class="infoText"> Rs 950/-</span>
                            </div>
                            <div class="span2 text-right">
                                <span class="infoLabel">5km :</span>
                                <span class="infoText">Rs 750/-</span>
                            </div>
                        </div>
                    </div>
                    <div class="boxFooter">
                        <span class="label label-info">10K</span>
                        <span class="label label-info">5K</span>
                        <span class="label label-info">Half Marathon</span>

                        <div class="clearfix tagsOuter">Tags: <a href="#">Kolad</a> <a href="#">Tag2</a> <a href="#">Tag3</a></div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="innerWrap">
                    <div class="boxHead">
                        <div class="clearfix">
                            <h4>Kundalika River Marathon @ Kundalika River</h4>
                            <!--<div class="dateBox"><span>28th</span> Mar 15</div>-->
                        </div>
                        <div class="dateTimeInfo clearfix text-center">
                            Mar 28 @ 4.30pm - 7.30pm
                        </div>
                    </div>
                    <div class="bannerImg">
                        <%= image_tag "sample.jpg" %>

                        <div class="btnWrap text-center">
                            <a href="#" class="btn btn-primary">Register</a>
                        </div>
                    </div>
                    <div class="eventInfo">
                        <div class="clearfix">
                            <label class="infoLabel pull-left">Timing Clip Option</label>
                            <span class="infoText pull-right">Rs 300/-</span>
                        </div>
                        <div class="clearfix">
                            <label class="infoLabel pull-left">Half Marathon (21km)</label>
                            <span class="infoText pull-right">Rs 950/-</span>
                        </div>
                        <div class="row">
                            <div class="span2">
                                <span class="infoLabel">10km :</span>
                                <span class="infoText"> Rs 950/-</span>
                            </div>
                            <div class="span2 text-right">
                                <span class="infoLabel">5km :</span>
                                <span class="infoText">Rs 750/-</span>
                            </div>
                        </div>
                    </div>
                    <div class="boxFooter">
                        <span class="label label-info">10K</span>
                        <span class="label label-info">5K</span>
                        <span class="label label-info">Half Marathon</span>

                        <div class="clearfix tagsOuter">Tags: <a href="#">Kolad</a> <a href="#">Tag2</a> <a href="#">Tag3</a></div>
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="innerWrap">
                    <div class="boxHead">
                        <div class="clearfix">
                            <h4>Kundalika River Marathon @ Kundalika River</h4>
                            <!--<div class="dateBox"><span>28th</span> Mar 15</div>-->
                        </div>
                        <div class="dateTimeInfo clearfix text-center">
                            Mar 28 @ 4.30pm - 7.30pm
                        </div>
                    </div>
                    <div class="bannerImg">
                        <%= image_tag "sample.jpg" %>

                        <div class="btnWrap text-center">
                            <a href="#" class="btn btn-primary">Register</a>
                        </div>
                    </div>
                    <div class="eventInfo">
                        <div class="clearfix">
                            <label class="infoLabel pull-left">Timing Clip Option</label>
                            <span class="infoText pull-right">Rs 300/-</span>
                        </div>
                        <div class="clearfix">
                            <label class="infoLabel pull-left">Half Marathon (21km)</label>
                            <span class="infoText pull-right">Rs 950/-</span>
                        </div>
                        <div class="row">
                            <div class="span2">
                                <span class="infoLabel">10km :</span>
                                <span class="infoText"> Rs 950/-</span>
                            </div>
                            <div class="span2 text-right">
                                <span class="infoLabel">5km :</span>
                                <span class="infoText">Rs 750/-</span>
                            </div>
                        </div>
                    </div>
                    <div class="boxFooter">
                        <span class="label label-info">10K</span>
                        <span class="label label-info">5K</span>
                        <span class="label label-info">Half Marathon</span>

                        <div class="clearfix tagsOuter">Tags: <a href="#">Kolad</a> <a href="#">Tag2</a> <a href="#">Tag3</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
